<h3>Post Description:</h3>


<li>Title: <%= @post.title%></li>
<li>Body: <%= @post.body%></li>
<li>Category: <%= @post.category%></li>
<br>
<%= link_to "Edit this Post", edit_post_path(@post), class:"btn btn-primary" %>
<br>
<br>

<%= link_to "List of Posts", author_posts_path(@author), class:"btn btn-danger"  %>
<%= link_to "List of Authors", authors_path, class:"btn btn-default"  %>
